* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --sw-black: #000000;
    --sw-black-trasparent: #00000088;
    --sw-dark: #282828;
    --sw-dark-soft: #727479;
    --sw-light: #c1c1c1;
    --sw-white: #ffffff;
    --sw-primary: #141922;
    --sw-success: #adff2f;
}

/* #region debug */

.debug [class^="col-"] {
    background-color: red;

}

.debug .card {
    background-color: white;
    border: 1px dashed black;
    aspect-ratio: 1 / 1;
}

.debug #page-top {
    background-color: paleturquoise;
    height: calc(100vh - 90px);
}

.debug #page-bottom {
    background-color: palegreen;
}

.debug #sidebar {
    background-color: palegoldenrod;
    height: 100%;
}

.debug #site_main {
    background-color: palevioletred;
    height: 100%;
}

.debug #upgrade {
    background-color: #ff73009f;
    height: 50px;
}

.debug #upgrade .btn {
    height: 30px;
    width: 100px;
    background-color: yellow;
}

.debug #filter_menu {
    /* height: 50px; */
    background-color: crimson;
}

.debug #filter_menu a{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px dotted black;
}

/* #endregion debug */

/* #region utilities */

/* structure */

.container-sm {
    width: 60%;
    max-width: 625px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -1rem; */
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

/* flex */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-end {
    justify-content: end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid var(--sw-white);
    border-radius: 15rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* images */

.img-fluid {
    max-width: 100%;
}

/* typography */

.text-center {
    text-align: center;
}

/* #endregion utilities */

/*** Desktop First ***/

/* #region #page-top */

#page-top {
    height: calc(100vh - 90px);
}

/* #region #sidebar */

#sidebar {
    width: 230px;
    background-color: var(--sw-black);
}

/* #endregion #sidebar */

/* #region #site_main */

#site_main {
    width: calc(100vw - 230px);
    overflow: auto;
    background-color: var(--sw-primary);
    color: var(--sw-white);
}

#site_main .card > * {
    padding-top: .5rem;
}

#site_main h2,
#site_main > * > h4 {
    padding-left: 1rem;
}

#site_main .row > h6 {
    padding-top: 1rem;
}

/* #region upgrade */

#upgrade {
    background-color: var(--sw-black-trasparent);
    position: sticky;
    top: 0;
    padding: 1rem .3rem;
}

/* #endregion upgrade */

/* #region filter_menu */

#filter_menu {
    margin: 2rem 0;
}

#filter_menu a {
    text-decoration: none;
    color: var(--sw-dark-soft);
    padding: .5rem ;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

#filter_menu .underline {
    width: 50%;
    margin: auto;
    padding-top: 0.1rem;
    border-bottom: 2px solid var(--sw-success);
}

/* #endregion filter_menu */

/* #region recently_played */

#recently_played .card > h6 {
    color: var(--sw-dark-soft);
    font-size: .85rem;
}

/* #endregion recently_played */

/* #region created_for_you */

#created_for_you {
    margin-top: 1rem;
}

#created_for_you > h4 {
    padding-top: .5rem;
    color: var(--sw-dark-soft);
}

/* #endregion created_for_you */

/* #region most_popular */

#most_popular {
    margin-top: 1rem;
}

#most_popular > h4 {
    padding-top: .5rem;
    color: var(--sw-dark-soft);
}

#most_popular .card > img {
    border-radius: 50%;
}

/* #endregion most_popular */

/* #endregion #site_main */

/* #endregion #page-top */

/* #region #page-bottom */

#page-bottom {
    height: 90px;
    background-color: var(--sw-dark);
}

/* #endregion #page-bottom */

/* #region laptop */

@media screen and (max-width: 1200px) {

    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }

}

/* #endregion laptop */

/* #region tablet */

@media screen and (max-width: 768px) {

    .col-md-6 {
        width: 50%;
    }

}

/* #endregion tablet */

/* #region mobile */

@media screen and (max-width: 475px) {

    /* #region #sidebar */

        #sidebar {
            width: 50px;
        }

    /* #endregion #sidebar */

    /* #region #site_main */

    #site_main {
        width: calc(100vw - 50px);
    }

/* #endregion #site_main */

}

/* #endregion mobile */