* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --sw-black: #000000;
    --sw-black-trasparent: #00000088;
    --sw-dark: #282828;
    --sw-dark-soft: #727479;
    --sw-light: #c1c1c1;
    --sw-white: #ffffff;
    --sw-primary: #141922;
    --sw-success: #adff2f;
}

body {
    font-family: 'DM Sans', sans-serif;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: var(--sw-dark-soft);
}

/* #region debug */

.debug [class^="col-"] {
    background-color: red;

}

.debug .card {
    background-color: white;
    border: 1px dashed black;
    /* aspect-ratio: 1 / 1; */
    height: 60px;
}

.debug #page-top {
    background-color: paleturquoise;
    height: calc(100vh - 90px);
}

/* sidebar */

.debug #sidebar {
    background-color: palegoldenrod;
    height: 100%;
}

.debug .top>*,
.debug .bottom>* {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px dashed black
}

.debug .top {
    height: 25%;
    background-color: darkslateblue;
}

.debug .bottom {
    height: 25%;
    background-color: darkslateblue;
}

/* site_main */

.debug #site_main {
    background-color: palevioletred;
    height: 100%;
}

.debug #upgrade {
    background-color: #ff73009f;
    height: 50px;
}

.debug #upgrade .btn {
    height: 30px;
    background-color: yellow;
}

.debug #filter_menu {
    /* height: 50px; */
    background-color: crimson;
}

.debug #filter_menu a {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px dotted black;
}

/* footer */

.debug #page_bottom .row {
    height: 100%;
    background-color: palegreen;
}

/* #endregion debug */

/* #region utilities */

/* structure */

.container-sm {
    width: 60%;
    max-width: 625px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -1rem; */
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

/* flex */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fd-column {
    flex-direction: column;
}

.justify-end {
    justify-content: end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid var(--sw-white);
    border-radius: 15rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* images */

.img-fluid {
    max-width: 100%;
}

/* typography */

.text-center {
    text-align: center;
}

/* #endregion utilities */

/*** Desktop First ***/

/* #region #page-top */

#page-top {
    height: calc(100vh - 90px);
}

/* #region #sidebar */

#sidebar {
    overflow: hidden;
    width: 230px;
    background-color: var(--sw-black);
    color: var(--sw-white);

}

#sidebar .lg-logo {
    max-width: 80%;
    padding: 1rem;
}

#sidebar .logo .xs-logo {
    display: none;
}

#sidebar .menu {
    padding: 1rem 0;
}

#sidebar .menu a.item {
    display: flex;
    align-items: center;
    color: var(--sw-dark-soft);
    text-decoration: none;
    margin: .25rem 0;
    padding-left: 1rem;
}

#sidebar .menu a.item:first-child {
    border-left: 2px solid var(--sw-success);
    color: var(--sw-white);
}

#sidebar .menu a.item img {
    width: 30px;
    filter: brightness(60%);
}

#sidebar .menu a.item img:first-child {
    filter: brightness(100%);
}

#sidebar .menu a.item span {
    font-size: 0.9rem;
    text-transform: capitalize;
    padding-left: .5rem;
}

#sidebar .playlist-list h4 {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

#sidebar .playlist-list a {
    text-decoration: none;
}

#sidebar .playlist {
    color: white;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#sidebar .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: var(--sw-light);
    color: black
}

#sidebar .new-playlist .box .fa-plus {
    display: block;
}

#sidebar .new-playlist span {
    margin-left: .5rem;
}

#sidebar .playlist span {
    text-transform: capitalize;
    color: var(--sw-dark-soft);
}

#sidebar .bottom {
    padding: 0 1rem;
}

#sidebar .bottom a {
    text-decoration: none;
    color: var(--sw-dark-soft);
}

#sidebar .bottom .install_link {
    border-bottom: 1px solid var(--sw-light);
    color: var(--sw-dark-soft);
    padding-bottom: .5rem;
}

#sidebar .bottom .install_link img {
    vertical-align: middle;
    width: 20px;
    margin-right: .5rem;
    filter: brightness(50%)
}

#sidebar .bottom .user {
    margin-bottom: .25rem;
    margin-top: .5rem;
}

#sidebar .bottom .user .box {
    border-radius: 50%;
    padding: .25rem;
    background-color: var(--sw-dark-soft);
}

#sidebar .user .box {
    display: flex;
}

#sidebar .bottom .user img {
    width: 20px;
}

#sidebar .bottom .user span {
    margin-left: .5rem;
}


/* #endregion #sidebar */

/* #region #site_main */

#site_main {
    width: calc(100vw - 230px);
    overflow: auto;
    background-color: var(--sw-primary);
    color: var(--sw-white);
}

#site_main h2,
#site_main>*>h4 {
    padding-left: 1rem;
}

#site_main .row>h6 {
    padding-top: 1rem;
}

#site_main .img {
    position: relative;
}

#site_main .img .layover {
    height: 100%;
    line-height: 0;
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#site_main .img .layover i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#site_main .img:hover .layover {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #00000088;
}

/* #region upgrade */

#upgrade {
    background-color: var(--sw-black-trasparent);
    position: sticky;
    top: 0;
    padding: 1rem .3rem;
}

#upgrade .btn {
    margin-right: 1rem;
}

#upgrade .btn:hover {
    transform: scale(1.1);
}

/* #endregion upgrade */

/* #region filter_menu */

#filter_menu {
    margin: 2rem 0;
}

#filter_menu a {
    text-decoration: none;
    color: var(--sw-dark-soft);
    padding: .5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

#filter_menu .underline {
    width: 50%;
    margin: auto;
    padding-top: 0.1rem;
    border-bottom: 2px solid var(--sw-success);
}

/* #endregion filter_menu */

/* #region recently_played */

#site_main #recently_played h2 {
    padding-bottom: .5rem;
}

#site_main #recently_played h4,
#site_main #recently_played h6 {
    padding-top: .5rem;
}

#recently_played .card>h6 {
    color: var(--sw-dark-soft);
    font-size: .85rem;
}

/* #endregion recently_played */

/* #region created_for_you */

#site_main #created_for_you h2 {
    padding-bottom: .5rem;
}

#site_main #created_for_you h4,
#site_main #created_for_you h6 {
    padding-top: .5rem;
}

#created_for_you {
    margin-top: 1rem;
}

#created_for_you>h4 {
    padding-top: .5rem;
    color: var(--sw-dark-soft);
}

/* #endregion created_for_you */

/* #region most_popular */

#site_main #most_popular h2 {
    padding-bottom: 0.5rem;
}

#site_main #most_popular h4,
#site_main #most_popular h6 {
    padding-top: .5rem;
}

#most_popular {
    margin-top: 1rem;
}

#most_popular>h4 {
    padding-top: .5rem;
    color: var(--sw-dark-soft);
}

#most_popular .card > img {
    border-radius: 50%;
}

/* #endregion most_popular */

/* #endregion #site_main */



/* #endregion #page-top */

/* #region #page_bottom */

#page_bottom {
    position: relative;
    height: 90px;
    background-color: var(--sw-dark);
    z-index: 1;
    font-size: .9rem;
}

#page_bottom .player {
    gap: 1rem;
}

#page_bottom .card {
    height: 100%;
}

/* left side */

#page_bottom .song {
    color: var(--sw-dark-soft);
    gap: 1rem;
}

#page_bottom [class^="col-"] {
    padding: .75rem;
}

#page_bottom .song_img {
    width: 60px;
}

#page_bottom .song_details .artist {
    color: var(--sw-white);
}

#page_bottom .song_details .title a {
    font-size: .8rem;
    font-weight: bold;
    color: var(--sw-dark-soft);
    text-decoration: none;
}

#page_bottom .song_details .title:hover {
    text-decoration: underline;
    color: var(--sw-white);
}

#page_bottom .song_details .artist,
#page_bottom .song_details .title {
    font-weight: bold;

}

#page_bottom .add_to {
    gap: .5rem;
}

/* center top */

#page_bottom .player_settings {
    gap: 16px;
}

#page_bottom .player_settings a {
    color: var(--sw-white);
}

#page_bottom .player_settings .fa-circle-play {
    margin: 0 .5rem;
}

#page_bottom .player_settings .fa-circle-play.hover {
    display: none;
}

/* effetto allargamento bottone play */

#page_bottom .player_settings .fa-circle-play:hover {
    transform: scale(1.2);
}

/* center bottom */

#page_bottom .timeline {
    gap: .5rem;
    color: var(--sw-light);
}

#page_bottom .total_timebar {
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sw-dark-soft);
}

#page_bottom .realtime_timing,
#page_bottom .total_timing {
    color: var(--sw-white);
}


#page_bottom .realtime_timebar {
    width: 25%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sw-light);
}

#page_bottom .total_timebar:hover .realtime_timebar {
    background-color: var(--sw-success);
}

#page_bottom .realtime_timebar .fa-circle {
    display: none;
}

#page_bottom .total_timebar:hover .fa-circle {
    display: inline-block;
}


/* right */

#page_bottom .generals {
    gap: 1rem;
}

#page_bottom .generals a {
    color: var(--sw-white);
}

#page_bottom .generals a:last-child {
    width: 30%;
}

#page_bottom .generals a .volume_bar {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sw-dark-soft);
}

#page_bottom .generals a .volume_bar:hover .volume_level {
    background-color: var(--sw-success);
}

#page_bottom .generals .volume_level {
    width: 30%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sw-light);
}

#page_bottom .generals .volume_level .fa-circle {
    display: none;
}

#page_bottom .generals a .volume_bar:hover .fa-circle {
    display: inline-block;
}

/* #endregion #page_bottom */


/* #region effects */

a:hover,
#filter_menu a:hover,
#sidebar span:hover,
#page_bottom .song_details .title a:hover {
    color: var(--sw-white);
}

#sidebar .playlist-list>a:hover .box {
    background-color: var(--sw-white);
}

#sidebar .playlist-list>a:hover span {
    color: var(--sw-white);
}

/* #endregion effects */




/* #region vertical */

@media screen and (max-height: 716px) {

    .playlists {
        height: 175px;
        overflow-y: auto;
    }

}

/* #endregion vertical */


/* #region laptop */

@media screen and (max-width: 1200px) {

    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }

    .fa-lg-2x {
        font-size: 2rem;
    }

}

/* #endregion laptop */

/* #region tablet */

@media screen and (max-width: 768px) {

    .col-md-6 {
        width: 50%;
    }

    #page_bottom .add_to {
        flex-direction: column;
    }

}

/* #endregion tablet */

/* #region mobile */

@media screen and (max-width: 475px) {

    .d-xs-flex {
        display: flex;
    }

    .fd-xs-column {
        flex-direction: column;
    }

    .justify-content-xs-center {
        justify-content: center;
    }


    /* #region #sidebar */

    #sidebar {
        width: 50px;
    }

    #sidebar .logo .lg-logo {
        display: none;
    }

    #sidebar .logo .xs-logo {
        display: block;
        max-width: 80%;
        margin: auto;
        padding-top: .5rem;
    }

    #sidebar .menu span {
        display: none;
    }

    #sidebar .menu a.item {
        padding: 0;
        margin: auto;
    }

    #sidebar .menu a.item:first-child {
        border: none;

    }

    #sidebar .playlist-list {
        display: none;
    }

    #sidebar .bottom {
        padding: .5rem;
    }

    #sidebar .bottom span {
        display: none;
    }

    #sidebar .bottom .install_link {
        border: none;
    }

    #sidebar .bottom .install_link img {
        margin: 0;
    }

    /* #sidebar .bottom .install_link {
            width: 40px;
            margin: auto;
        } */

    /* #endregion #sidebar */

    /* #region #site_main */

    #site_main {
        width: calc(100vw - 50px);
    }

    /* #endregion #site_main */

}

/* #endregion mobile */